<html>
   <head>
      <link rel="stylesheet" href="/style.css" />
   </head>
   <body>
   <div class="form">
      <h1>Enter the name of a city:</h1>
      <form action="/" method="post">
      <label for="city">City:</label><br>
      <input type="text" id="city" name="city" class="input-box"><br>
      <input type="submit" value="Submit">
      </form>
    </div>
    <br>
    <div class="weather-info">
    <h1 class="city_header">Location: <%= @location %></h1>
    <h1 class="weather-header">Description: <%= @description %></h1>
    <h1><%= @icon_url %></h1>
    <div class="icon"><img src="https://openweathermap.org/img/wn/<%= @icon_code %>@2x.png" alt="Weather Icon"></div>
    <h1 class="weather-header">Current Temperature: <%= @current_temp %></h1>
    <h1 class="weather-header">Feels Like: <%= @feels_like %></h1>
    <h1 class="weather-header">Minimum Temperature: <%= @min_temp %></h1>
    <h1 class="weather-header">Maximum Temperature: <%= @max_temp %></h1>
    <h1 class="weather-header">Humidity: <%= @humidity %></h1>
    <h1 class="weather-header">Cloud Coverage: <%= @cloud_coverage %></h1>
    <h1 class="weather-header">Sunrise: <%= @sunrise %></h1>
    <h1 class="weather-header">Sunset: <%= @sunset %></h1>
    </div>
   </body>
</html>