<html>
   <head>
      <style>
         body {
            background-image: url('<%= @background_url %>');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            }
      </style>
            <link rel="stylesheet" href="/style.css" />

   </head>
   <body>
   <div class="form">
      <h1>Enter the name of a city:</h1>
      <form action="/" method="post">
      <input type="text" id="city" name="city" class="input-box"><br>
      <input type="submit" value="Submit">
      </form>
    </div>
    <br>
    <div class="weather-info">
    <h1 class="city-header">Location: <%= @location %></h1>
    <div class="description-icon-parent">
    <div class="description-icon-child"><h1 class="weather-header">Description: <%= @description %></h1></div>
    <div class="description-icon-child"><img class="icon" src="https://openweathermap.org/img/wn/<%= @icon_code %>@2x.png" alt="Weather Icon"></div>
    </div>
    <h1 class="weather-header">Current Temperature: <%= @current_temp %></h1>
    <h1 class="weather-header">Feels Like: <%= @feels_like %></h1>
    <h1 class="weather-header">Minimum Temperature: <%= @min_temp %></h1>
    <h1 class="weather-header">Maximum Temperature: <%= @max_temp %></h1>
    <h1 class="weather-header">Humidity: <%= @humidity %></h1>
    <h1 class="weather-header">Cloud Coverage: <%= @cloud_coverage %></h1>
    <h1 class="weather-header">Sunrise: <%= @sunrise %></h1>
    <h1 class="weather-header">Sunset: <%= @sunset %></h1>
    </div>
   </body>
</html>